@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-spotify-green: #1ed760;
  --color-spotify-black: #191414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ========================
   Button
   ======================== */

.button {
  @apply border py-0.5 px-2.5 rounded-md text-xs flex items-center gap-1 cursor-pointer;
}

/* ========================
   Toast
   ======================== */

/* Toast transitions */
.toast-transition-enter {
  @apply opacity-0 translate-y-2;
}
.toast-transition-enter-active {
  @apply opacity-100 translate-y-0 transition-all duration-300 ease-out;
}
.toast-transition-exit {
  @apply opacity-100 translate-y-0;
}
.toast-transition-exit-active {
  @apply opacity-0 -translate-y-2 transition-all duration-300 ease-out;
}

/* Toast base styles */
.toast {
  @apply py-2.5 px-3 rounded-xs shadow-lg w-3xs max-w-screen text-base;
}
.toast[data-type="success"] {
  @apply bg-emerald-500 text-white;
}
.toast[data-type="error"] {
  @apply bg-red-500 text-white;
}
.toast[data-type="warning"] {
  @apply bg-amber-500 text-white;
}
.toast[data-type="info"] {
  @apply bg-slate-500 text-white;
}

/* Toast progress bar animation */
@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
